@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  /* box-shadow: 0 0 0 1px red; */
  padding: 0;
  margin: 0;
}

body,html{
  width: 100%;
  height: 100%;
  background-color: black;
}

.case{
color: white;
border-radius:10px;
padding: 2px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5px;
}

.case h1{
  width: 90%;
  height: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.case .scase {
  height: 85%;
  width: 90%;
  overflow: auto;
}

.task-line{
  display: flex;
  border-radius: 25px;
  padding: 5px 15px;
  margin: 10px 0;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.task-line p{
  width: 90%;
  overflow: auto;
  font-size: 1.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.action-div{
  width: 10%;
  display: flex;
  height: 100%;
}
.task-line span {
  width:100%; 
}

.task-line .span-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-line .span-delete img{
  width: 30%;
  object-fit: contain;
}

#u-i{
  background-color: rgb(179, 9, 0);
}

#i-nu{
  background-color: rgb(247, 123, 8);
}

#u-ni{
  background-color: rgb(1, 139, 116);
}

#nu-ni{
  background-color: rgb(47, 32, 254);
}

.u-i{
  background-color: rgb(249, 56, 45);
}

.i-nu{
  background-color: rgb(252, 154, 62);
}

.u-ni{
  background-color: rgb(26, 177, 152);
}

.nu-ni{
  background-color: rgb(91, 80, 255);
}

.header-style{
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.2rem;
}